.menu a {
  color: #213360;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
  border-radius: 3px;
}
.menu a:hover {
  background-color: #213360;
  color: white;
}
.menu a:active {
  background-color: #213360;
  color: white;
}
