.service-banner {
  background: url("../../images/banner.jpg") no-repeat center;
  background-size: cover;
}
.service-listing {
  background: url("../../images/servicesbg.jpg") no-repeat center;
  background-size: cover;
}
